@import url('variables.css');
@import url('estiloFormularioCliente.css');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    color:rgb(35, 38, 41);
    font-family: Yaldevi; 
}

header{
    height: 20%;
}
main{
    height: 70%;
}
footer{
    height: 10%;
}

.error-msg{
    color:var(--error-color, red);
}
.tituloamediano{
    font-size: 1em;
    text-align: center;
}
div > h1{
    text-align: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(209, 217, 248, 0.993);
    text-transform:uppercase;
    flex-direction: row;    
    justify-content: space-between;
    padding: 10px;
    align-items: center; /*Para ainear en altura items*/
}

.flex-container div {
    background-color:  rgba(209, 217, 248, 0.993);
    margin: 10px;
    padding: 10px;
  }
  .flex-container div a {
    text-decoration: none;
  }

  section{
      float:left;
      width:100%;
      height: 70%;
  }

  article{
      float:right;
      width:50%;
  }
  img{
      width: 100%;
      height: 100%;
      opacity: 60%;
  }

footer{
    clear:both;
    height: 2em; 
    background-color:  rgba(209, 217, 248, 0.993);   
}

a:active{
    color: green;
}

.pag-formulario form{
    color:lightgrey;
}
.pag-formulario main{
    margin:10px;
}

/*
#logo{
    max-width:120px;  sin width para no deformar la imagen
}
/*span#logo{} logo solo cuando este dentro de un span

header{
    color: greenyellow, imp !important;
}

body > header {
    background-color: black;
} /*  o , cuando la cabecera cuelgue del body le aplico..*/




@media print{ 
    input[type-submit]{  /* asi no se ven los botones enviar que es submit al imprimir*/
        display: none;
    }
    input[type-button],input[type-reset]{  /*así concadeno, los text si los querria, los puedo concadenar*/
        display: none;
    }
    body > header{
        display: none;
    }
    body{
        font-size:10px;
    }
    img{
        max-width: 200px;
    }
}